/* 商品一覧 */

.posts-contents {
  background-image: url('cosmos.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100vw;
}

.toumei {
   background-color: rgba(255, 255, 255,0.1);
   height: 100%;
}

.posts-contents>.title {
  font-size: 3.5vh;
  line-height: 1.4;
  font-weight: bold;
}

.posts-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}

.posts-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.posts-lists>.list {
  width: 37vh;
  padding: 1vw;
  /* background-color: #FFF; */
}


.post-img-content {
  position: relative;
}

.post-img {
  width: 100%;
  height: 100%;
}

.post-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.new-post-name {
  font-size: 2.5vh;
}


.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 2vh;
}

/* //商品一覧 */