/* おすすめアプリ投稿詳細画面 */
.post-show {
  background-color: black;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 80px 0;
}

.post-box {
  background-color: black;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  color: white;
  padding-bottom: 5px;
}

/* 投稿写真 */
.post-box-img {
  height: 50vh;
  min-height: 500px;
  background-color: black;
  object-fit: contain;
}
/* 投稿写真 */

.show-btn {
  display: flex;
}

/* 編集ボタン */
.edit-post-btn {
  color: black;
  padding: 10px 50px;
  background-color: white;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 100vh;
  margin-right: 100px;
}
/* 編集ボタン */

/* 削除ボタン */
.post-destroy {
  color: black;
  padding: 10px 50px;
  background-color: white;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 100vh;
}
/* 削除ボタン */

.post-explain-box {
  font-size: 18px;
  margin: 40px 0px;
  overflow-wrap: anywhere;
  color: white;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-post {
  width: 20%;
  background-color: white;
  border: 1px solid lightgray;
  font-size: 16px;
  text-align: center;
}

.detail-user {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 16px;
  color: white;
}

.option {
  display: flex;
  justify-content: space-between;
  position: relative;
}

/* いいねボタン */
.favorite-btn {
  border-radius: 40px;
  width: 5vw;
  min-width: 100px;
  color: white;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: 5vh;
}

.app_likes {
  text-decoration: none;
}
/* いいねボタン */

/* コメント */
.comment-btn {
  display: flex;
}

.comment-text{
  display: block;
  margin-top: 20px;
  height: 25px;
  padding: 5px;
  margin-right: 30px;
}

.comment-submit{
  display: block;
  margin-top: 20px;
  color: black;
  padding: 3px 20px;
  background-color: white;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 100vh;
  font-size: 12px;
}

.comment{
  display: flex;
  padding-top: 15px;
}

.comment p{
   margin: 0;
   color: white;
}

.user-info{
  color: white;
  font-weight: bold;
}

h4 {
  color: white;
}
/* コメント */
/* おすすめアプリ投稿詳細画面 */