.second-header {
  width: 100vw;
  min-width: 800px;
  height: 10vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.favapp-icon {
  padding-top: 80px;
  width: 110px;
  height: 110px;
}