<%= render "shared/header" %>

<div class= 'main'>
  <div class= 'main-content'>
    <div class= 'main-name'>FavApp</div>
    <div class= 'main-right'>
      <div class= 'main-text'>
        <h1>おすすめのアプリを紹介しよう</h1>
      </div>
      <ul class= 'main-menu'>
      <li><%= link_to 'おすすめアプリ投稿', '#', class: 'main-post' %></li>
      <li><%= link_to '投稿一覧', '#', class: 'main-posts' %></li>
      </ul>
    </div>
  </div>
</div>

<%= render "shared/footer" %>