.login-btn {
  margin: 0 auto;
  padding: 10px;
}

.login-click-btn {
  padding: 10px 50px;
  border-radius: 100vh;
  background-color: white;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

.login-flash-message {
  text-align: center;
  color: white;
}